*{ margin: 0%; padding: 0%;}

body {
  background-image:linear-gradient(to top right, white,white,rgba(155, 153, 153, 0.479)) ;
  background-repeat: no-repeat;
}

#navbar{
    z-index: 20;
    position: sticky;
    top: 0;
}
.navbar-brand {
    font-family: sans-serif;
    font-weight: bold;
}
.navbar-brand span{
    font-family: sans-serif;
    color: rgb(223, 27, 27);
}
@media only screen and (max-width: 700px){
    #navbar .nav-link{
        text-align: center;
      }
}

.donate{
    padding: 5%;
    background-image: url(pic/road2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 13%;
    background-position: 100%;
}

.donate-slogan h1{
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px rgb(49, 49, 49);
    text-align: center;
}

.donate-slogan p{
    color: white;
    font-size: 20px;
    text-align: right;
    text-shadow: 2px 2px rgb(80, 80, 80);
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width:700px) {
  .donate-slogan h1{
    font-size: 20px;
    width: 100%;
  }
  .donate-slogan p{
    font-size: 15px;
    width: 100%;
  }
}

.card{
  background-color: rgb(66, 66, 66) !important;
  margin-left: 10%;
  margin-right: 10%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-1{
  padding: 5%;
  text-align:center;
  }
  .card-1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  @media only screen and (max-width:700px) {
    .card-1 h1{
      font-size: 20px;
      width: 100%;
    }
    .card-1 img{
      width: 10%;
    }
  }
  
  .card-2{
    padding: 5%;
    display: inline-flex;
    text-align: center;
  }

  .row-1{
    width:100%; 
    margin: 30px;
    border-radius: 3%;
  }
  .row-1 img{
    width: 100%;
    border-radius:3%;
  }
  .row-1-p p{
    font-size: 20px;
    font-weight: 600;
    color: black;
  }
.row-1-p span{
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.row-1 img:hover{
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row-1:hover{
  text-decoration: none;
}
.row-1-p p:hover{
  color: rgb(0, 140, 255);
}


@media only screen and (max-width:800px){
 .row-1 img{
   width: 100%;
 }
 .row-1{
   margin-top: 20px;
   width: 100%;
   margin-left: 0;
 }
 .card-2{
   width: 100%;
   display: inline-block;
 }
 .row-1-p p{
   text-align: center;
   font-size: 18px;
 }
 .row-1-p span{
   font-size: 11px;
 }

}
.card-3{
  background-color: rgba(158, 158, 158, 0.116);
  margin-top: 50px;
}
.card-row3{
  text-align: center;
}
.card-row3 h3{
 font-weight: 700;
}
.card-row3 h4{
  font-size: 20px;
  color: gray;
  font-family: sans-serif;
}

@media only screen and (max-width:800px){
  .card-row3{
    padding: 2%;
  }
  .card-row3 h3{
    font-size: 20px;
  }
  .card-row3 h4{
    font-size: 15px;
  }
}

.card-4{
  padding: 3%;
  text-align: center;
  display: inline-flex;
}
.row-2{
  margin-left: 20px;
  width: 100%;
}
.row-2 img{
  width: 30%;
  margin-left: 0;
}
.row-2-p p{
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
}
.row-2-p span{
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  color: gray;
}

@media only screen and (max-width:800px){
  .card-4{
   display: block;
  }
  
  .row-2{
    width: 100%;
    margin-left: 0;
  }
  .row-2 img{
    width: 30%;
  }
}

.card-5{
  padding: 10%;
}
.card-6{
  width: 100%;
  display: inline-flex;
}
.card-6 img{
  width:30%;
}
.card-6-p{
 width: 100%;
 margin: 50px;
}

.card-6-p h1{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.card-6-p p{
 font-size: 20px;
 font-weight: 300;
 width:100%;
text-align: justify;
}
@media only screen and (max-width:800px){
 .card-5{
   text-align: center;
   display: inline-flex;
 }
  .card-6{
    width: 100%;
    display: inline-block;
  }
  
  .card-6-p h1{
    font-size: 15px;
  }
  .card-6-p p{
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
  .card-6-p{
   margin: 0;
  }

}


.card-7{
  display: inline-flex;
  margin-top: 50px;
}
.card-7 img{
  width:30%;
}
.card-7-p{
  width: 100%;
  margin: 50px;
}
.card-7-p h1{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
}
.card-7-p p{
  font-size: 20px;
 font-weight: 300;
 width: 100%;
 text-align: justify;
}
@media only screen and (max-width:800px){
  .card-7{
    width: 100%;
    display: inline-block;
  }
  .card-7-p h1{
    font-size: 15px;
  }
  .card-7-p{
    margin: 0;
  }
  .card-7-p p{
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
  .card-7 img{
   mask-type: alpha;
  }
  }

  .card-8{
    display: inline-flex;
    margin-top: 50px;
  }
  .card-8 img{
    width:30%;
  }
  .card-8-p{
   width: 100%;
   margin: 50px;
  }
  
  .card-8-p h1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }
  .card-8-p p{
   font-size: 20px;
   font-weight: 300;
   width:100%;
  text-align: justify;
  }

  @media only screen and (max-width:800px){
    .card-8{
      width: 100%;
      display: inline-block;
    }
    .card-8-p h1{
      font-size: 15px;
    }
    .card-8-p{
      margin: 0;
    }
    .card-8-p p{
      width: 100%;
      font-size: 10px;
      text-align: center;
    }
  }
#map{
  width: 100%;
 height: 500px;
}